.header__top {
    color: #fff;
}

.header__top_row {
    background-color: #1f232b;
}

.header__top_container > div {
    padding: 10px 0;
}

div.col__header-book-btn {
    padding: 0;
}

/* Contacts */ 

.header-top__contacts-item a {
    color: #fff;
}

.header-top__contacts-item {
    margin-right: 15px;
    font-size: 12px;
}

.header-top__contacts-item i {
    color: #acacac;
    margin-right: 5px
}

/* Social */

.header-social i {
    color: #fff;
    font-size: 16px;
}

.header-social a {
    padding: 0 10px;
}

/* Top Menu */

.header-top-menu a {
    color: #fff;
    font-size: 15px;
}

.header-top-menu span {
    color: #444;
    font-size: 15px;
}

/* Header Book Button */

.header-book-btn {
    display: block;
    color: #fff;
    background-color: #108b52;
    font-size: 14px;
    padding: 10.5px;
    text-align: center;
    transition: all 0.3s ease;
}

.header-book-btn:hover {
    background-color: #ffce14;
    text-decoration: none;
    color: #fff;
}

/* Main Menu */

.main-menu-wrapper {
    background-color: #289152e6;
    position: sticky;
    top: 0;
}

.header-logo img {
    max-height: 55px;
}

.header-logo {
    display: block;
    padding: 15px 0;
}

.main-menu-items {
    list-style: none;
    margin: 0;
}

.main-menu-items > li {
    float: right;
}

.main-menu-items > li > a {
    color: #fff;
    transition: all 0.2s ease;
    text-decoration: none;
    display: block;
    line-height: 86px;
    padding: 0 10px;
    
}

.main-menu-items > li > a:hover {
    color: #232323;
    background-color: #fff;
}