
.main-btn {
    display: block;
    color: #fff;
    background-color: #108b52;
    font-size: 14px;
    padding: 10.5px;
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
}

.main-btn:hover {
    background-color: #ffce14;
    text-decoration: none;
    color: #fff;
}