body {
  font-family: 'FuturaFuturisLightC';
  width: 100%;
  overflow-x: hidden;
}

.p-r-0 {
  padding-right: 0;
}

.ScrollUpButton__Container {
  background-color: #289152e6 !important;
  transition: all 0.3s ease !important;
  width: 50px !important;
  height: 50px !important;
  display: flex;
  justify-content: center;
  outline: none;
}

.ScrollUpButton__Container:hover {
  transform: translateY(-5px);
}

.ScrollUpButton__Container svg {
  fill: #fff;
  width: 30px;
  opacity: 0.7;
}

@media (max-width: 768px) {
  .mobile-hide {
    display: none;
  }
}

@media (min-width: 769.99px) {
  .desktop-hide {
    display: none;
  }
}